.glass {
    background: #ffffff;
}

.container-standard-background {
    background: #ffffff;
}

.transparent {
    /*background: transparent;*/
}

.link {
    text-decoration: none;
}

.link:visited {
    color: #000000;
    text-decoration: none;
}

.link:hover {
    color: #2b81d6;
    cursor: pointer;
}

.image-link:hover {
    cursor: pointer;
}

.rounded {
    border-radius: 5pt;
}

.no-background-color {
    /*background-color: transparent;*/
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-24 {
    margin-top: 24px;
}
